<div class="bg-c4 p-1 text-center text-sm tracking-widest text-c5 md:p-2">
  {%- if section.settings.link != blank -%}
  <a href="{{ section.settings.link }}" class="link">
  {%- endif -%}
  <span class="hidden uppercase md:inline">
    {{ section.settings.text | escape }}
  </span>
  <span class="md:hidden">
    {{ section.settings.text_mobile | escape }}
  </span>
  {%- if section.settings.link != blank -%}
  </a>
  {%- endif -%}
</div>
{% schema %}
{
  "name": "TW Announcement Bar",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "default": "Free standard shipping within Canada for purchases of over $100",
      "label": "Announcement text"
    },
    {
      "type": "text",
      "id": "text_mobile",
      "default": "Free standard shipping on all orders over $100",
      "label": "Announcement Mobile text"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Announcement link"
    }
  ],
  "presets": [
    {
      "name": "tw-announcement-bar",
      "category": "Custom"
    }
  ]
}
{% endschema %}
